USE [master]
GO
/****** Object:  Database [QLBanHang]    Script Date: 06/10/2024 3:48:34 CH ******/
CREATE DATABASE [QLBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QLBanHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QLBanHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanHang]
GO
/****** Object:  Table [dbo].[tbAnhSanPham]    Script Date: 06/10/2024 3:48:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAnhSanPham](
	[MaSP] [nvarchar](50) NOT NULL,
	[TenFileAnh] [image] NULL,
 CONSTRAINT [PK_tbAnhSanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbChiTietDonHang]    Script Date: 06/10/2024 3:48:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChiTietDonHang](
	[MaDH] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[SLBan] [int] NULL,
	[DonGia] [float] NULL,
	[GiamGia] [float] NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbChiTietHoaDonNhap]    Script Date: 06/10/2024 3:48:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChiTietHoaDonNhap](
	[MaHDN] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_tbChiTietHoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDanhMuc]    Script Date: 06/10/2024 3:48:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDanhMuc](
	[MaDanhMuc] [nvarchar](50) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbDanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDonHang]    Script Date: 06/10/2024 3:48:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDonHang](
	[MaDH] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NULL,
	[MaNV] [nvarchar](50) NULL,
	[NgayLap] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[TongTien] [float] NULL,
	[PhuongThucThanhToan] [nvarchar](10) NULL,
 CONSTRAINT [PK_tbDonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbGioHang]    Script Date: 06/10/2024 3:48:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGioHang](
	[MaSP] [nvarchar](50) NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_tbGioHang] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHoaDonNhap]    Script Date: 06/10/2024 3:48:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHoaDonNhap](
	[MaHDN] [nvarchar](50) NOT NULL,
	[NgayLap] [datetime] NULL,
	[MaNV] [nvarchar](50) NULL,
	[TongTien] [float] NULL,
	[MaNCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbHoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbKhachHang]    Script Date: 06/10/2024 3:48:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKhachHang](
	[MaKH] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](30) NULL,
	[SĐT] [int] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbNhacungCap]    Script Date: 06/10/2024 3:48:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNhacungCap](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbNhacungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbNhanVien]    Script Date: 06/10/2024 3:48:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[SĐT] [int] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSanPham]    Script Date: 06/10/2024 3:48:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSanPham](
	[MaSP] [nvarchar](50) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[MoTa] [nvarchar](100) NULL,
	[GiaBan] [float] NULL,
	[GiaNhap] [float] NULL,
	[MaDanhMuc] [nvarchar](50) NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_tbSanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUser]    Script Date: 06/10/2024 3:48:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUser](
	[SĐT] [int] NOT NULL,
	[PassWord] [nchar](50) NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_tbUser] PRIMARY KEY CLUSTERED 
(
	[SĐT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbAnhSanPham]  WITH CHECK ADD  CONSTRAINT [FK_tbAnhSanPham_tbSanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tbSanPham] ([MaSP])
GO
ALTER TABLE [dbo].[tbAnhSanPham] CHECK CONSTRAINT [FK_tbAnhSanPham_tbSanPham]
GO
ALTER TABLE [dbo].[tbChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_tbChiTietDonHang_tbDonHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[tbDonHang] ([MaDH])
GO
ALTER TABLE [dbo].[tbChiTietDonHang] CHECK CONSTRAINT [FK_tbChiTietDonHang_tbDonHang]
GO
ALTER TABLE [dbo].[tbChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_tbChiTietDonHang_tbSanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tbSanPham] ([MaSP])
GO
ALTER TABLE [dbo].[tbChiTietDonHang] CHECK CONSTRAINT [FK_tbChiTietDonHang_tbSanPham]
GO
ALTER TABLE [dbo].[tbChiTietHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tbChiTietHoaDonNhap_tbHoaDonNhap] FOREIGN KEY([MaHDN])
REFERENCES [dbo].[tbHoaDonNhap] ([MaHDN])
GO
ALTER TABLE [dbo].[tbChiTietHoaDonNhap] CHECK CONSTRAINT [FK_tbChiTietHoaDonNhap_tbHoaDonNhap]
GO
ALTER TABLE [dbo].[tbChiTietHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tbChiTietHoaDonNhap_tbSanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tbSanPham] ([MaSP])
GO
ALTER TABLE [dbo].[tbChiTietHoaDonNhap] CHECK CONSTRAINT [FK_tbChiTietHoaDonNhap_tbSanPham]
GO
ALTER TABLE [dbo].[tbDonHang]  WITH CHECK ADD  CONSTRAINT [FK_tbDonHang_tbNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tbNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tbDonHang] CHECK CONSTRAINT [FK_tbDonHang_tbNhanVien]
GO
ALTER TABLE [dbo].[tbGioHang]  WITH CHECK ADD  CONSTRAINT [FK_tbGioHang_tbSanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tbSanPham] ([MaSP])
GO
ALTER TABLE [dbo].[tbGioHang] CHECK CONSTRAINT [FK_tbGioHang_tbSanPham]
GO
ALTER TABLE [dbo].[tbHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tbHoaDonNhap_tbNhacungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[tbNhacungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[tbHoaDonNhap] CHECK CONSTRAINT [FK_tbHoaDonNhap_tbNhacungCap]
GO
ALTER TABLE [dbo].[tbHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tbHoaDonNhap_tbNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tbNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tbHoaDonNhap] CHECK CONSTRAINT [FK_tbHoaDonNhap_tbNhanVien]
GO
ALTER TABLE [dbo].[tbKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_tbKhachHang_tbUser] FOREIGN KEY([SĐT])
REFERENCES [dbo].[tbUser] ([SĐT])
GO
ALTER TABLE [dbo].[tbKhachHang] CHECK CONSTRAINT [FK_tbKhachHang_tbUser]
GO
ALTER TABLE [dbo].[tbNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_tbNhanVien_tbUser] FOREIGN KEY([SĐT])
REFERENCES [dbo].[tbUser] ([SĐT])
GO
ALTER TABLE [dbo].[tbNhanVien] CHECK CONSTRAINT [FK_tbNhanVien_tbUser]
GO
ALTER TABLE [dbo].[tbSanPham]  WITH CHECK ADD  CONSTRAINT [FK_tbSanPham_tbDanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[tbDanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[tbSanPham] CHECK CONSTRAINT [FK_tbSanPham_tbDanhMuc]
GO
USE [master]
GO
